

body
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

header
{
	left: 0;
	top: 0;
	position: fixed;
	background: #3b3b3b;
	padding: 10px 0px 0px 20px;
	width: 100%;
	height: 50px;
	z-index: 999;
}


.left-area h3
{
	margin-top: -25px; 
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	
}

.left-area h3 span
{
	text-transform: lowercase;
	color: #007CF8;
}

.right-area .user
{
	float: right;
	width: 240px;
	margin-right: 160px;
}

.right-area .user-image
{
	position: fixed;
	width: 30px;
	margin-top: -37px;
	margin-right: 40px;
	border-radius: 50%;
	border: 2px solid #ccc;
	margin-bottom: 10px;
}

.right-area .user .user-name
{
	position: fixed;
	font-size: 16px;
	margin-left: 40px;
	margin-top: -32px;
	margin-right: 40px;
	color: #fff;
	font-weight: 100;
}

.right-area .btn
{
	float: right;
	margin-top: -40px;
	margin-right: 40px;
}


/*---sidebar*/
.sidebar
{
	background: #575757;
	margin-top: 50px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 240px;
	height: 100%;
	transition: 0.5s;
	transition-property: left;
	z-index: 10;
}


.sidebar a
{
	width: 190px;
	color: #fff;
	padding-left: 40px;
	display: block;
	line-height: 40px;
	text-decoration: none;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar a:hover
{
	width: 190px;
	background: #1f1f1f;
}

.sidebar i
{
	margin-right: 20px;
}

.collapse
{
	margin-left: 20px;
	transition: .3s all;
}

label #sidebar-btn
{
	color: #fff;
	z-index: 1;
	position: fixed;
	cursor: pointer;
	left: 300px;
	font-size: 20px;
	margin: -5px 0;
	transition: 0.5s;
	transition-property: color;
}

label #sidebar-btn:hover
{
	color: #808080;
}

#check:checked ~ .sidebar
{
	left: -400px;
}

#check:checked ~ .sidebar a span
{
	display: none;
}

#check:checked ~ .sidebar a
{
	font-size: 20px;
	margin-left: 160px;
	width: 80px;
}

.content
{
	position: absolute;
	padding: 5px;
	margin-top: 60px;
	margin-left: 246px;
	transition: 0.5s;
}

#check:checked ~ .content
{
	margin-left: 130px;
}

#check
{
	display: none;
}

.content .table
{
	width: 1040px;
	min-width: 420px;
}




@media screen and (max-width: 800px) {

	.left-area h3
	{
		font-size: 15px;
		margin-top: -18px;
	}
  	.right-area .user
  	{
  		display: none;
  	}

  	.right-area .btn
	{
		margin-top: -35px;
	}

	label #sidebar-btn
	{
		left: 170px;
	}

  }


/*body
{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p
{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-height : 12px;
	color: #999;
}

a,
a: hover,
a: focus
{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}


.wrapper
{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;

}

#sidebar
{
	min-width: 250px;
	max-width: 250px;
	color: #fff;
	transition: all 0.3s;
	background: #4187FB; 	
}

#sidebar .active
{
	margin-left: -250px;
	color: #999;
}

#sidebar .sidebar-header
{
	padding: 10px;
	background: #999;
}

#sidebar ul.components
{
	padding: 20px 0;
	border-bottom: 1px solid #fff;
}

#sidebar ul p
{
	color: #999;
	padding: 5px;
}

#sidebar ul li a
{
	padding: 10px;
	font-size: 16px;
	display: block;
	color: #fff;
}

#sidebar ul li a: hover
{
	color: #999;
	background: #fff;
}

#sidebar ul li.active>a,
a[aria-expand="true"]
{
	color: #fff;
	background: #999;
}

a[data-toggle="collapse"]
{
	position: relative;
}

.dropdown-toggle::after
{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}

ul ul a
{
	font-size: 	16px !important;
	padding-left: 20px !important;
	background: #4187FB;
}

#content
{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all .3s;
}